@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap');


/*Generales*/
.btn{
    background: #7ed856;
    border: transparent;
    border-radius: 0%;
    font-weight: bolder;
    color: white;
}

li{
    list-style: none;
}

.navbar{
    font-family: 'Bebas Neue', cursive;
}


/******PAGINA PRINCIPAL******/

/*Navbar*/
#inicio{
    color: #7ED856;
}


/*Carrusel*/
.carousel{
    max-height: 60vh;
}

.carousel-inner img {
    width: 100%;
    max-height: 60vh;
}

.carousel-inner{
 height: 60vh;
}

.carousel-caption{
    transform: translate(-1%);
     top: 30%;
     font-size: 2vh;
}

.carousel-caption h5{
    font-size: 8vh;
    color: ivory;
    font-weight: bolder;
}


/*Card de categorías*/
.card.shadow{
    width: 20rem;
}

.card-body.categoria{
    background-color: #7ed856;
    font-size: 1rem;
    color: white;
    height: 7vh;
}


/*Jumbotron página principal */
.jumbotron img[alt]{
    width: 45%;
    margin: 1rem 1rem;
}


/*Footer*/
footer{
    background-color: black;
    font-family: 'Noto Sans SC', sans-serif;
}

footer p{
    margin-bottom: 0.3rem;
    font-size: 1rem;
    font-weight: 500;
}

hr{
    margin: 0;
    border: 0.1rem solid #7ed856;
    width: 75%;
    margin-bottom: 1rem;
}

.horario{
    list-style: none;
}

.list-group.pie li{
    list-style: none;
    margin: 0.2rem;
}

.list-group.pie li a{
    font-size: 2rem;
}

.list-group.pie li a i{
    color: white;
}

.form-group{
    line-height: 0.5rem;
}

input[placeholder=" "]{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    text-align-last: right;
}

.btn:hover{
    background: gray;
}



/********PÁGINA DE CONTACTO******/


/*Título de contactanos*/
.h2{
    font-family: 'Bebas Neue', cursive;
}

/*Banner de información*/
.informacion{
    padding: 1rem;
    background-image: url(/img/contact-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.contactinfo{
    margin-left: 3rem;
}

.informacion h2{
    font-family: 'Bebas Neue', cursive;
}

.address li{
    margin: 1rem 0;
}

.address p, span:last-child{
    padding-left: 1.8rem;
    margin: 0;
}

.address li i{
    color: #89d631;
    padding-right: 1rem;
    font-size: 1.2rem;
}


/**********PÁGINA DE PRODUCTO*********/


/*Banner de encabezado*/
.jumbotron.producto{
    background-image: url(/img/encabezado.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.fachion h2{
    font-family: 'Bebas Neue', cursive;
}

.fachion span:last-of-type{
    color: #89d631;
    font-weight: bolder;
    font-size: 1.5rem;
}

.fachion p:last-of-type{
    border-bottom: black 1px dotted;
    margin-bottom: 2rem;
}



/* Medias Queries */

/*mobile*/
@media(min-width:320px) and (max-width:480px){

    /*carousel*/
    .carousel-inner{
        height: 28vh;
       }

    .carousel-caption{
       transform: translate(-1%);
       top: 20%;
       font-size: 1.30vh;
    }   

    .carousel-caption h5{
        font-size: 3.5vh;   
    }   

    /*card categoría*/
    .card.shadow{
        width: 13rem;
        margin: 0 3.5rem;
    }

    /*Jumbotron página principal */
    .jumbotron img[alt] {
    width: 90%;
    }

    footer .col{
        margin: 1rem 2rem;
    }

    #linea-pie{
        padding-left: 0;
    }

    .contactinfo{
        margin-left: 0;
        padding-top: 1rem;
    }
}

