@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap');

.navbar{
    font-family: 'Bebas Neue', cursive;
}

#inicio{
    color: hsl(88, 55%, 72%);
}

.carousel{
    max-height: 60vh;
}

.carousel-inner img {
    width: 100%;
    max-height: 60vh;
}

.carousel-inner{
 height: 60vh;
}



.card-body.categoria{
    background-color: #89d631;
    font-size: 1rem;
    color: white;
}

.jumbotron img[alt]{
    width: 45%;
    margin: 1rem 1rem;
}

footer{
    background-color: black;
    font-family: 'Noto Sans SC', sans-serif;
}

.container.text-white> row > col:first-child{
    color: blue;
}

hr{
    margin: 0;
    border: 3px solid;
    color: #89d631;
    width: 70%;
    margin-bottom: 1rem;
}


.horario{
    list-style: none;
}

.list-group.pie li{
    list-style: none;
    margin: 0.2rem;
}

.list-group.pie li a{
    font-size: 2rem;
}

.list-group.pie li a i{
    color: white;
}