@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap');

li{
    list-style: none;
}

.navbar{
    font-family: 'Bebas Neue', cursive;
}

#inicio{
    color: #7ED856;
}

.carousel{
    max-height: 60vh;
}

.carousel-inner img {
    width: 100%;
    max-height: 60vh;
}

.carousel-inner{
 height: 60vh;
}



.card-body.categoria{
    background-color: #7ed856;
    font-size: 1rem;
    color: white;
    height: 7vh;
}

.jumbotron img[alt]{
    width: 45%;
    margin: 1rem 1rem;
}

footer{
    background-color: black;
    font-family: 'Noto Sans SC', sans-serif;
}

footer p{
    margin-bottom: 0.3rem;
    font-size: 1rem;
    font-weight: 500;
}

hr{
    margin: 0;
    border: 0.1rem solid #7ed856;
    width: 75%;
    margin-bottom: 1rem;
}


.horario{
    list-style: none;
}

.list-group.pie li{
    list-style: none;
    margin: 0.2rem;
}

.list-group.pie li a{
    font-size: 2rem;
}

.list-group.pie li a i{
    color: white;
}
.form-group{
    line-height: 0.5rem;
}

input[placeholder=" ïƒ "]{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    text-align-last: right;
}

.btn{
    background: #7ed856;
    border: transparent;
    border-radius: 0%;
    font-weight: bolder;
    color: white;
}

.btn:hover{
    background: gray;
}

.h2{
    font-family: 'Bebas Neue', cursive;
}

.informacion{
    padding: 1rem;
    background-image: url(/img/contact-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.informacion h2{
    font-family: 'Bebas Neue', cursive;
}

.address li{
    margin: 1rem 0;
}

.address p, span:last-child{
    padding-left: 1.8rem;
    margin: 0;
}

.address li i{
    color: #89d631;
    padding-right: 1rem;
    font-size: 1.2rem;
}








.jumbotron.producto{
    background-image: url(/img/encabezado.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

img[alt="producto"]{
   
}

.fachion h2{
    font-family: 'Bebas Neue', cursive;
}

.fachion span:last-of-type{
    color: #89d631;
    font-weight: bolder;
    font-size: 1.5rem;
}

.fachion p:last-of-type{
    border-bottom: black 1px dotted;
    margin-bottom: 2rem;
}



